* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

#cursor {
  position: fixed;
  height: 2.3vw;
  width: 2.3vw;
  border: 1px solid #ffffffe2;
  z-index: 999999;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}


/* end of curso */
/* start of loader */
#loader {
  height: 100%;
  width: 100%;
  background-color: #030303;
  position: fixed;
  z-index: 99;
  padding: 7.5vw 6vw;
}

#loader .line {
  display: flex;
  align-items: center;
  gap: 3vw;
  overflow: hidden;
  position: relative;
}

#loader .line h1 {
  font-size: 7.2vw;
  line-height: 7vw;
  font-family: "plain light";
  text-transform: uppercase;
}

#loader .line h2 {
  font-size: 4.4vw;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "plain light";
  animation-name: anime;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes anime {
  0% {
    font-family: "plain light";
    color: #fff;
    font-weight: 900;
  }

  100% {
    font-family: "silk serif";
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
    font-weight: 500;
    /* opacity: 1; */
  }
}

#loader .line_item {
  display: flex;
  gap: 2.5vh;
  margin-bottom: 2.7vw;
  margin-left: 2.5vw;
  margin-right: 2.2vw;
  margin: 0 2.2vw 2.5vw 2.7vw;
}

#loader .line_item h4 {
  width: 5.2vw;
  text-align: right;
}

#loader .line_item h4,
h5 {
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
}

.line h6 {
  width: 10%;
  font-size: 12px;
  font-family: "plain light";
  letter-spacing: 1px;
  font-weight: 100;
  margin: 5vw 20vw;
}


/* end of loader */
/* star of main */
#main {
  position: relative;
  background-color: #030303;
  font-family: "plain light";

}

#home {
  height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
}


/* start of nav bar */

#nav {
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vw 5vw;
  text-transform: capitalize;
}

.nav_part1 {
  width: 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_part2 {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

}

.nav_part2 h4 {
  font-size: 1vw;
  line-height: 1vw;
  font-weight: 100;
  width: 5%;
  position: absolute;
  top: 0%;
  left: 1%;
}

.nav_part2 ul {
  display: flex;
  position: absolute;
  right: 0;
  gap: 2.5vw;
  list-style: none;
}

.nav_part2 ul a {
  text-decoration: none;
  color: #fff;
  font-size: 1vw;
  font-family: "plain light";
}


/* end of nav bar */

/* start of hero section */

#hero {
  height: fit-content;
  width: fit-content;
  /* background-color: red; */
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  overflow: hidden;
}

#hero h2 {
  font-size: 3vw;
  font-family: "silk serif";
  margin-right: 5.5vw;
  overflow: hidden;
  overflow: hidden;
}

#hero .hero_child h2 {
  font-size: 7.3vw;
  line-height: 7.3vw;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: "plain light";
  /* background-color: rebeccapurple; */
  overflow-y: hidden;

}

#unique a:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  text-decoration: none;
  font-weight: 400;
  transition: all ease 0.2s;
}

/* end of hero section */

/* start of bottom scroll */

.scroll {
  position: absolute;
  overflow: hidden;
  left: 5%;
  bottom: 14%;
  transition: all ease 0.2s;
  height: 4.5vh;
}

.scroll p {
  font-weight: 100;
  font-size: 1vw;
  opacity: 0;
}

/* emd of bottom scroll */

/* Card hover Animation */

#card {
  position: fixed;
  height: 55vh;
  width: 40vh;
  opacity: 0;
  right: 0;
  top: 20%;
  transform: translate(-50%, -50%);
  transition: opacity ease 0.3s;
}

#card .left {
  height: 50%;
  width: 100%;

}

#card .right {
  height: 50%;
  width: 100%;

}

/*end Card hover Animation */

/* start of card container */

#anime_container {
  height: 100vh;
  width: 100%;
  /* background-color: red; */
  position: relative;
}

#anime {
  height: 37vw;
  width: 22vw;
  background-color: rgb(55, 83, 10);
  position: relative;
}

#anime  .top{
  height: 15%;
  font-size: 1.7vw;
  text-transform: uppercase;
}

#anime figure{
  height: 65%;
  width: 100%;
  position: relative;
}
#anime .c1{
  z-index: 999;
}
#anime .c2{
  z-index: 99;
}
#anime figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}
#anime .bottom {
   display: flex;
  align-items: center; 
  justify-content: space-between;
  text-transform: capitalize;
  border-bottom: 2px solid #fff;
  height: 20%;
}
#anime .bottom h4{
  font-size: 1vw;
  font-weight: 100;
  margin: 1vw 0;
}


#page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
}

.video_container {
  height: 75vh;
  width: 70vw;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  z-index: 999999999999999999999999999;
}

.video_container img {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 999;
  object-fit: cover;
  object-position: center;
}

.video_container video {
  position: absolute;
  height: 98%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.video_container .play {
  height: 9vw;
  width: 9vw;
  border-radius: 50%;
  position: fixed;
  z-index: 9999;
  background-color: #FFA63D;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video_container .play i {
  font-size: 2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* start of about */


#about {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
  background-color: #151515;

}


.header {
  display: flex;
  gap: 2.5vw;
  /* background-color: rebeccapurple; */
  width: 85%;
}

.header h1 {
  font-size: 3.2vw;
  padding: 2.5vw;
  font-family: 'silk serif';
}

.header h2 {
  font-size: 7.5vw;
  text-transform: uppercase;
  border-bottom: 3px solid #ffffffce;
  padding: 2.5vw 20vw 2.5vw 0vw;
  padding-bottom: 5vw;
}

#content {
  /* background-color: rebeccapurple; */
  width: 85%;
  height: 100%;
  padding-left: 11vw;
  padding-top: 3.5vw;
  position: relative;
}

.text_content {
  width: 60%;
  font-size: 2.3vw;
  font-weight: 500;
  line-height: 2.75vw;
  letter-spacing: 0.8px;
  padding-bottom: 5vw;
}

.people {
  display: flex;
  gap: 2vw;
  height: 90vh;
  overflow: hidden;

}

.people img {
  width: 45%;
  z-index: 1;
}

.people .text {
  width: 32%;
  font-size: 1.1vw;
  height: 100%;
  /* background-color: red; */

  padding-right: 6vw;
}

.people .text p:nth-child(1) {
  margin-bottom: 2vw;
}

.people .text p:nth-child(2) {
  margin-bottom: 1vw;
}

#people_blue {
  height: 80vh;
  width: 100%;
  position: relative;
}

.people_card {
  height: 90vh;
  width: 45%;
  background-color: #3F7DF4;
  margin-left: 23vw;
  z-index: 999999999;
  padding: 2vw 3vw;
  position: absolute;
  top: -30%;
}

.box1 {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  border-bottom: 1px solid #fff;
  margin-top: 2.5vw;
}

.box1 h2 {
  font-weight: 500;
  font-size: 1.7vw;
  margin-top: -1vh;
}

.box1 p {
  width: 40%;
  font-weight: 500;
  font-size: 1vw;
}

/* end of about */


/* :start of marque */

#marque {
  height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
}

#marque .header {
  position: absolute;
  height: 10vh;
  border-top: 2px solid #fff;
  right: 5%;
  width: 68%;
  line-height: 10vh;
}

#marque .marque_text {
  width: 100%;
  position: absolute;
  top: 20vh;

}

#marque .marque_text .row {
  display: flex;
  line-height: 15vh;
  overflow-x: auto;
}

#marque .marque_text .row::-webkit-scrollbar {
  display: none;
}

#marque .marque_text .row .slide {
  flex-shrink: 0;
  transform: translateX(-50%);

}

#marque .marque_text .row .slide2 {
  flex-shrink: 0;
  transform: translateX(-10%);
}

#marque .marque_text .row span {
  font-size: 7.2vw;
  text-transform: uppercase;
  font-family: "silk serif";
  flex-shrink: 0;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 100;
}

#hello {
  height: 110vh;
  background-color: #151515;
  position: relative;
}

#hello .header {
  right: 0;
  position: absolute;
  height: 30vh;
  line-height: 30vh;
}

#hello .header h1 {
  line-height: 12vh;

}

#hello .header h2 {
  letter-spacing: 0px;
  padding: 0;
  width: 80%;
  transition: all ease 0.5s;
}

#hello .header h2 i {
  transition: all ease 1s;
  font-weight: 600;
}

#hello .header h2:hover {
  font-family: "silk serif";
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 500;
}

.header .part2 {
  height: 100%;
  width: 100%;
}

#footer {
  height: 60vh;
  width: 68.5%;
  right: 5%;
  top: 30vh;
  position: absolute;
  display: flex;
  border-bottom: 2px solid #fff;
}

#footer h5 {
  font-size: 1.2vw;
  text-transform: capitalize;
  margin-bottom: 2vh;
}

#footer li {
  font-size: 2vw;
  list-style: none;
  text-transform: capitalize;
  line-height: 2vw;
}

#footer .part1 {
  width: 33%;
  height: 100%;
  padding: 10vh 0;
}

#footer .part2 {
  width: 32%;
  height: 100%;
  padding: 10vh 0;
}

#footer .part3 {
  width: 35%;
  height: 100%;
  padding: 10vh 0;
}

#tagline {
  position: absolute;
  bottom: 10%;
  left: 26.5%;
}